body {
  
        background-color: #D5E1EF;
        padding: 70px 0;
        
    }

    .qr-code {
        background-color: #FFFFFF;
        text-align: center;
        margin: auto;
        font-style: normal;
        border-radius: 20px;
        width: 320px;
        height: 497px;
        box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
        
        
      
        
    }

    img {
        border-radius: 10px;
        margin-top: 16px;
        width: 288px; 
        height: 288px;
    }

    h1 {
        font-weight: 700;
        padding: 0 16px;
        font-size: 22px;
        line-height: 28px;
        color: #1F314F;
        margin: 16px 0px 24px 0px;

    }

    p {
        color: #7D889E;
        font-weight: 400;
        padding-bottom: 40px;
        margin: 0px 32px 0px 32px;
        font-size: 15px;
        height: 57px;
    }

    
   
